<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyBlog</title>
    <link rel="stylesheet" href="/themes/pop-blue/home-style.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/themes/pop-blue/index.html">home</a>
            <a href="/article-list">archive</a>
            <a href="/about-me">about</a>
            
        </nav>
        
    </div>
    <div class="text">
        <span>t</span>
        <span>i</span>
        <span>n</span>
        <span>y</span>
        <span>b</span>
        <span>l</span>
        <span>o</span>
        <span>g</span>
    </div>
</body>
</html>